{% block body %}
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Complaint</title>
    <style>
        .Complaint-box {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 15px;
            border-radius: 5px;
        }
        .Complaint-text {
            font-weight: bold;
        }
        .reply-text {
            color: green;
            margin-top: 5px;
        }
    </style>
</head>
<body>
    <h2>Submit Your Complaint</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Send</button>
</form>

<h3>Your Complaint</h3>
<ul>
    {% for Complaint in Complaints %}
        <li>
            <strong>complaint:</strong> {{ Complaint.Complaints }} <br>
            <strong>reply:</strong> {{ Complaint.reply|default:"No reply yet" }}
            <hr>
        </li>
    {% empty %}
        <p>No Complaints yet.</p>
    {% endfor %}
</ul>

</body>
</html>

{% endblock %}