{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .form{
         background-color: rgb(171, 228, 149);
          height: 300px;
          width: 400px;
          margin-left:250px;
          margin-top:70px;
          padding-top:40px;
          padding-left:80px;
          font-size:20px;

        }

        input{
        height:30px;
        }

    </style>
</head>
<body>
<div class="form">
<form method="post" enctype="multipart/form-data">
   {% csrf_token %}
    <label for="">Image</label><input type="file" name="home_image" id="home_image"><br><br>
    <label for="">titel</label><input type="text" name="titel" id="titel"><br><br>
    <label for="">Location</label><input type="text" name="Location" id="Location"><br><br>
    <button type="submit">add</button>
</form>
</div>
</body>
</html>